    </main>

    <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container">
          <span class="navbar-text small text-light">
            &copy; 2025 Assignment Tracker · All Rights Reserved
          </span>
        </div>
      </nav>
    </footer>

  </body>
</html>
